@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
@import url(https://fonts.googleapis.com/css?family=Tangerine);
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap);
body{
    font-family: 'cwTeXYen', sans-serif;
    font-size:25px;
}
h1{
    font-family: 'Tangerine','Noto Sans TC','cwTeXYen';
    text-shadow: 4px 4px 4px black;
}
.hsinchuSpan{
    text-shadow: 4px 4px 4px black;
}

.hsinchu-images{
    background-image: url('../images/hsinchu.jpg');
    height: 450px;
    background-size:cover;
    background-position: center;
    position: relative;

    #hsinchuarea{
        background-color: rgba(255, 255, 255, 0.7);
    }

    .famousarea{
        position: absolute;
        width: 60%;
        bottom: 0;
        left:50%;
        transform: translate(-50%,50%);
    }
}  

@media(min-width:576px){
    .btn-custom{
        padding:0.375rem 0.75rem;
        font-size: 1rem;
    }
}

.divider{
    margin-top:100px;
}
.areaname{
    color:royalblue;
}

.card{
    .custom-card-img{
        height:200px;
        object-fit: cover;
        object-position: center;
    }
    .custom-card-title{
        position: absolute;
        top:-40px;
        color:white;
        font-weight: bolder;
    }
}

main{
    min-height : calc(100vh - 100px);
}
footer{
    height:100px;
}